@model _535_Assignment.Models.ShoppingList

@{
    ViewData["Title"] = "AboutUs";
}

<html class="BGColour3">
<body class="BGColour3 TextColour2">
<h1>About Us</h1>
<hr />
<p>
    <b>
    Sams warehouse is owned by James Jones. There is no apostrophe in Sams warehouse is because the original founder was actually "Sams Addams", and no plural is used at all in the title of the business.
        </b>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iUtnZpzkbG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


</body>
</html>