@{
    ViewData["Title"] = "Home Page";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<html class="BGColour3">
<body class="BGColour3">
    <div class="text-center ">
        <img src="/css/Logo.svg" width="2500" class="pop"/>
    </div>
</body>
</html>