@model IEnumerable<_535_Assignment.Models.ShoppingList>

@{
    ViewData["Title"] = "Index";
}
@Html.AntiForgeryToken()
<html class="BGColour3">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _535_Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="BGColour3">

    <div class="row justify-content-evenly align-items-center">
        <div class="col-3 TextColour2">
            
        </div>
        <div class="col-6">
            <h1 class="TextColour2 fw-bolder justify-content-center text-center">
                Shopping List
            </h1>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2">
        <div class="col">
            <div class="BGColour3 TextColour2" id="selectContainer">
                <div class="spinner-border justify-content-center" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <select class="form-select" disabled>
                    <option>
                        Loading 
                    </option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <input type="button" class="rounded BGColour4 TextColour1" value="Add List" id="AddListButton" />
            <input type="button" class="rounded BGColour4 TextColour1" value="Delete List" id="RemoveListButton" />
        </div>
    </div>
    <div class="row p-2">
        <div class="card shadow BGColour3" id="shoppingListContainer">

        </div>
    </div>

    <div class="modal fade" id="createListModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content BGColour1">
                <div class="modal-header BGColour2 TextColour3">
                    <h5 class="modal-title ">Create List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body BGColour3" id="modalBody">
                    <form id="createListForm">
                        <input type="text" name="listName" class="form-control" maxlength="25"/>
                        <input type="submit" value="Add List" class="form-control my-3 TextColour1 BGColour4" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        <script src="~/js/ShoppingList.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}