:root {
    --colour-1: #FDFAF1;
    --colour-2: #FF6B6B;
    --colour-3: #FFE66D;
    --colour-4: #292F36;
    --colour-5: #FFE66D;
    --colour-6: #FF6B6B;
    --colour-7: #FFE66D;
    --colour-8: #FF6B6B;
}
