:root {
    --colour-1: #FFFFFF;
    --colour-2: #0B4f6C;
    --colour-3: #145C9E;
    --colour-4: #B8CDF8;
    --colour-5: #145C9E;
    --colour-6: #B8CDF8;
    --colour-7: #B8CDF8;
    --colour-8: #145C9E;
}
